body {
  font-family: Raleway;
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: space-between;
  &--random {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    outline: none;

    margin-right: 30px;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    // color: #333333;
    background: transparent;
    transition: background 100ms;

    &:hover {
      background-color: #f7df9477;
    }
  }
  &--theme {
    margin-left: 30px;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background: transparent;
    transition: 500ms;

    &:hover {
      background-color: #f7df9477;
    }
  }
}

h1 {
  width: 45%;
  margin: auto;
  margin-top: 40px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  // color: #333333;
  @media (max-width: 1024px) {
    width: 80%;
    padding: 0 1rem;
  }
  @media (max-width: 600px) {
    width: 90%;
    padding: 0 1rem;
  }
}
